.row {
  overflow-y: auto;
}

.row h2 {
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
}
.row__container {
  display: flex;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  min-height: 120px;
}
.row__rowItems {
  display: flex;
  gap: 10px;
  padding: 20px 20px;
  flex-wrap: nowrap;
}
.rowItems__rowItem {
  width: 140px;
  height: 100%;
  cursor: pointer;
  transition: transform 0.2s;
  position: relative;
}
.rowItems__rowItem:hover {
  transform: scale(1.08);
}
.row__rowItems--big .rowItems__rowItem {
  height: 210px;
  background-size: 100% 100%;
}
.row__rowItems--box .rowItems__rowItem {
  width: 180px;
  height: 120px;
}

.row__container::-webkit-scrollbar {
  display: none;
}
.rowItem__poster {
  position: absolute;
  width: 100%;
  z-index: 0;
  object-fit: cover;
  height: 100%;
  user-select: none;
}
